<div class="col">
	<h3><span class="red">Tr&aacute;mites</span></h3>
	<ul>
		<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
		<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
		<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	</ul>
</div>
<div class="col">
	<h3><span class="red">Noticias</span></h3>
	<ul>
		<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
		<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
		<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	</ul>
</div>
<div class="col last">
	<h3><span class="red">M&aacute;s vistos</span></h3>
	<ul>
		<li class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
		<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
		<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	</ul>
</div>