<div class="col">
    <h3><span class="red">Tr&aacute;mites</span></h3>
    <ul data-role="listview" data-inset="true" data-filter="true">
        <% @tramites.each do |tramite| %>
            <li><%= link_to tramite.titulo, tramite %></li>
        <% end %>
        <% if @tramites.count == 0 %>
            <li><span class="red">no existen tramites pendientes</span></li>
        <% end %>
    </ul>
</div>
<div class="col">
    <h3><span class="red">Noticias</span></h3>
    <ul data-role="listview" data-inset="true" data-filter="true">
        <% @noticias.each do |noticia| %>
            <li><%= link_to noticia.titulo, noticia %></li>
        <% end %>
        <% if @noticias.count == 0 %>
            <li><span class="red">no existen noticias pendientes</span></li>
        <% end %>
    </ul>
</div>
<div class="col last">
    <h3><span class="red">M&aacute;s vistos</span></h3>
    <ul data-role="listview" data-inset="true" data-filter="true">
        <% @vistos.each do |visto| %>
            <li><%= link_to visto.titulo, visto %></li>
        <% end %>
    </ul>
</div>