/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*
	project: web application template
	author: luka cvrk (www.solucija.com)
*/
#logo { background: url(../images/appicon.gif) no-repeat top left;}

/*
#header { position:relative; width: 700px; height: 50px; margin: 100 100; }
#logo { position: absolute; top:0; left:0; width:128px; background: url(../images/appicon.gif) no-repeat top left;}
#title { position: absolute; top: 24px; left: 128px; width: 300px; }
	.title { font-family: Verdana; font-weight: bold; color: #9D2900;}
#menu  { position: absolute; top: 24px; right: 24px; padding: 6px 0 0 0; list-style: none; }

*{ margin: 0; padding: 0; }*
body { margin: 50px 0 0; background: #fff url(../images/bg.gif) repeat-x; font: .74em "Trebuchet MS", Arial, Sans-Serif; color: #444; }
	h1 { font-size: 3em; font-weight: normal; float: left; }
	h1 a { text-decoration: none; }
	h2 { font-size: 2em; color: #FFF2B3; font-weight: normal; margin: 0 0 .8em; }
	h3 { font-size: 1.5em; border-bottom: 1px solid #eee; margin: 0 0 .8em; }
	p  { margin: 0 0 2em 0; line-height: 1.8em; }
	em { border-bottom: 1px dotted #fff; cursor: pointer; }
	a { color: #9D2900; }
	a:hover { color: #A0000E; text-decoration: none; }
	img { border: 0; }
	.red { color: #9D2900; }
	
.wrap { width: 900px; margin: 0 auto; }

		#menu li { display: inline; }
		#menu a { display: block; float: left; margin-left: 30px; padding: 7px; text-decoration: none; font-size: 13px; color: #000000; }
		#menu a:hover { color: #000; border-bottom: 2px solid #ccc; }
		#menu .active a { border-bottom: 2px solid #C70012; color: #9D2900;}
 
#teaser { clear: both; height: 360px; background: #fff url(../images/teaserbg.png) repeat-x; }
	.box { float: left; padding: 66px 0 0; width: 480px; color: #C7E3EE; }
	#image { float: right; width: 388px; position: relative; top: 16px; background: url(../images/logotype.jpg) no-repeat top right; height: 258px; }
	
#bar { height: 40px; margin: 0 0 30px; padding: 8px 0 0 0; background: url(../images/bar.gif) repeat-x; }
	.step { cursor: pointer; color: #FAFDDD; padding: 4px 0 0 11px; margin: 0 35px 0 0; font-size: 1.4em; float: left; text-align: center; background: url(../images/step.gif) no-repeat; height: 30px; }
	.step a { color: #fff; margin: 0 10px 0 0; }
	
.col { float: left; width: 276px; margin: 0 16px 16px 0; }
	.last { float: right; margin: 0; margin-right: 24px;}
	.info { border: 1px solid #e0e0e0; background: #f4f4f4; padding: 7px; }

#footer { clear: both; width: 900px; margin: 0 auto; padding: 15px; border-top: 1px solid #e0e0e0; background: #fff url(../images/small_logotype.jpg) no-repeat right 13px; }	
	#footer .right { float: right; margin: 0 55px 0 0; }
	#footer a { color: #808080; font-weight: bold; }
*/

*{ margin: 0; padding: 0; }*
body { margin: 50px 0 0; background: #fff url(../images/bg.gif) repeat-x; font: .74em "Trebuchet MS", Arial, Sans-Serif; color: #444; }
h1 { font-size: 3em; font-weight: normal; float: left; }
h1 a { text-decoration: none; }
h2 { font-size: 2em; color: #FFF2B3; font-weight: normal; margin: 0 0 .8em; }
h3 { font-size: 1.5em; border-bottom: 1px solid #eee; margin: 0 0 .8em; }
p { margin: 0 0 2em 0; line-height: 1.8em; }
em { border-bottom: 1px dotted #fff; cursor: pointer; }
a { color: #9D2900; }
a:hover { color: #A0000E; text-decoration: none; }
img { border: 0; }
.red { color: #9D2900; }

.wrap { width: 900px; margin: 0 auto; }
 
#header { width: 900px; height: 50px; margin: 0 auto;}
#logo { width: 96px; position: relative; top: 8px; background: url(../images/appicon.gif) no-repeat top left; height: 96px;}
#title { position: relative; top: 24px; margin-left: 80px; width: 300px; }
.title { font-family: Verdana; font-weight: bold; color: #9D2900;}
#menu { float: right; margin-right: 50px; margin-top: 24px; padding: 6px 0 0 0; list-style: none; }
#menu li { display: inline; }
#menu a { display: block; float: left; margin-left: 30px; padding: 7px; text-decoration: none; font-size: 13px; color: #000000; }
#menu a:hover { color: #000; border-bottom: 2px solid #ccc; }
#menu .active a { border-bottom: 2px solid #C70012; color: #9D2900;}
 
#teaser { clear: both; height: 360px; background: #fff url(../images/teaserbg.png) repeat-x; }
.box { float: left; padding: 66px 0 0; width: 480px; color: #C7E3EE; }
#image { float: right; width: 388px; position: relative; top: 16px; background: url(../images/logotype.jpg) no-repeat top right; height: 258px; }

#bar { height: 40px; margin: 0 0 30px; padding: 8px 0 0 0; background: url(../images/bar.gif) repeat-x; }
.step { cursor: pointer; color: #FAFDDD; padding: 4px 0 0 11px; margin: 0 35px 0 0; font-size: 1.4em; float: left; text-align: center; background: url(../images/step.gif) no-repeat; height: 30px; }
.step a { color: #fff; margin: 0 10px 0 0; }

.col { float: left; width: 276px; margin: 0 16px 16px 0; }
.last { float: right; margin: 0; margin-right: 24px;}
.info { border: 1px solid #e0e0e0; background: #f4f4f4; padding: 7px; }

#footer { clear: both; width: 900px; margin: 0 auto; padding: 15px; border-top: 1px solid #e0e0e0; background: #fff url(../images/small_logotype.jpg) no-repeat right 13px; }
#footer .right { float: right; margin: 0 55px 0 0; }
#footer a { color: #808080; font-weight: bold; }